//@import "bootstrap-sass/lib/bootstrap";

$background: #fafafa;
$note-on: steelblue;
$note-on-1: lighten(steelblue, 25%);
$note-on-2: lighten(steelblue, 15%);
$note-on-3: lighten(steelblue, 5%);
$darkerBackground: darken($background, 5%);
$darkestBackground: darken($background, 70%);
$DEVICEOUTLINE: lighten($darkestBackground, 25%);

//$ZEROCOLOR1: #000000;
$ZEROCOLOR1: darken(steelblue, 25%);
$ZEROCOLOR2: lighten($ZEROCOLOR1, 25%);
$ZEROCOLOR3: lighten($ZEROCOLOR2, 25%);
$ZEROCOLOR4: lighten($ZEROCOLOR3, 25%);
$OUTLINE: 1px solid white;

$FUSCHIA: rgb(255, 0, 128);
$BLUE1: rgb(38, 50, 71);
$BACK: rgb(224, 227, 231);
/* Put your CSS here */
html, body {
  margin: 0px;
  height: 100%;
}

body {
    background: $darkerBackground;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}

a {
    text-decoration: none;
}

// PIANO ROLL //

.cell {
    stroke: #fff;
    stroke-width: 2px;
}

.note-on-1 {
    fill: $note-on-1;
}

.note-on-2 {
    fill: $note-on-2;
}

.note-on-3 {
    fill: $note-on-3;
}

.note-on-0 {
    fill: $darkerBackground;
}

.piano-roll {
    width: 900px;
    height: 100%;
}

.piano-roll-transport {
    color: $darkerBackground;
}

.transport-button{
    width: 23.5%;
    margin: 0;
    padding: 0;
    background-color: $darkestBackground;
    text-align: center;
}

.tranport-button:hover {
    cursor: pointer;
}

// ZERO BODY //

.zero-container {
    width: 100%;
    height: 100%;
    margin: 0;
}

.zero-test {
    background-color: red;
}

#master-transport {
    width: 100%;
    height: 5%;
    background-color: $ZEROCOLOR1;
}

#zero-lane-container {
    height: 100%;
    width: 80%;
    margin:0;
    float: left;
}

.zero-lane {
    //height: 200px;
    height: 30%;
    width: 100%;
    //outline: $OUTLINE;
    //background-color: $ZEROCOLOR2;
}

#zero-browser {
    width: 20%;
    height: 90%;
    background-color: $ZEROCOLOR3;
    float: right;
}

#zero-footer {
    width: 100%;
    height: 5%;
    position: absolute;
    background-color: $ZEROCOLOR1;
    bottom: 0;
}

// DEVICE STUFF //

.device-label {
    height: 2em;
    border-bottom: 1px solid $DEVICEOUTLINE;
}

.device-label-floater {
    float: left;
    height: 50%;
    margin-bottom: -0.5em;
}

.device-label-inner {
    clear: both;
    height: 1em;
    position: relative;
    margin-left: 0.5em;
}

.device-upper-inner {
    height: 60%;
}

.device-lower-inner {
    height: 40%;
    //border-top: 1px solid $DEVICEOUTLINE;
}

.device-knob {
    width: 65px;
    height: 100px;
}

.knob path {
    fill: none;
    stroke: $BLUE1;
    stroke-width: 2em;
}

// DRUM MACHINE //

.drum-machine-nav {
    width: 100px;
    float: left;
    height: 100%;
}

.drum-machine-nav > a {
    margin-left: 0.5em;
}

.drum-machine-nav > li {
    height: 12%;
}

.drum-machine {
    width: 900px;
    height: 90%;
    margin: 0;
}

.drum-machine-container {
    width: 900px;
    height: 90%;
    margin: 0;
    border: 1px solid $DEVICEOUTLINE;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

.wave-viewport {
    width: 800px;
    height: 100%;
    float: right;
}


.showWave {
    position: relative;
}

.hideWave {
    position: absolute;
    top: -9999px;
    left: -9999px;

}

