<div ng-controller="DrumMachineCtrl" class="drum-machine-container">
    <div class="device-label">
        <div class="device-label-floater"></div>
        <!-- TODO Make device name dynamic -->
        <div class="device-label-inner">Drum Machine</div>
    </div>
    <div class="device-upper-inner">
        <ul class="nav nav-pills nav-stacked drum-machine-nav">
            <li ng-repeat="drum in drums" ng-click="select(drum)" ng-class="drumClass(drum)"><a href=''>{{drum}}</a><li>
        </ul>
        <!--
            ng-repeat doesn't seem to work for some reason
            This is addressed in "About those Directives"
            <div ng-repeat="d in drums" class="wave-viewport" id="drum-{{d}}"></div>
        -->
            <div class="wave-viewport" ng-class="waveClass('kick')" id="drum-kick"> </div>
            <div class="wave-viewport" ng-class="waveClass('hh1')" id="drum-hh1"> </div>
            <div class="wave-viewport" ng-class="waveClass('hh2')" id="drum-hh2"> </div>
            <div class="wave-viewport" ng-class="waveClass('clap')" id="drum-clap"> </div>
            <div class="wave-viewport" ng-class="waveClass('kick2')" id="drum-kick2"> </div>
            <div class="wave-viewport" ng-class="waveClass('hh12')" id="drum-hh12"> </div>
            <div class="wave-viewport" ng-class="waveClass('hh22')" id="drum-hh22"> </div>
            <div class="wave-viewport" ng-class="waveClass('clap2')" id="drum-clap2"> </div>
    </div>
    <div class="device-lower-inner">
        
    </div>

    
</div>
