<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="">
    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/d3.v3.min.js"></script>
    <script type="text/javascript" src="js/bufferLoader.js"></script>
    <script type="text/javascript" src="js/audio.js"></script>
    <script type="text/javascript" src="js/whitenoise.js"></script>
    <script type="text/javascript" src="js/clip.js"></script>
    <script type="text/javascript" src="js/pianoRoll.js"></script>
    <title>Web Audio</title>

    <style type="text/css" media="all">
      #piano-roll {
        width: 900;
        height: 400;
        margin-right: auto;
        margin-left: auto;
        padding: 0;
      }
    </style>
    
  </head>
  <body>
      <button id="play-drums" >PLAY</button>
      <button id="stop" >STOP</button>
      <div id="piano-roll"></div>
    
  </body>

  <script>
    init();
    var clip = Clip([
        [1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
        [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
        [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
        [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
        [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
        [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
        [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
        [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
    ]);
    var pianoRoll = new PianoRoll('#piano-roll', clip)
    pianoRoll.init();

    var drumMachine = new RhythmSample();
    drumMachine.loadBeat(beat1);
    $('#play-drums').click(
        function() {
            beat1.rhythm1 = pianoRoll.noteData[0].map(function(x) { return x.value; });
            beat1.rhythm2 = pianoRoll.noteData[1].map(function(x) { return x.value; });
            beat1.rhythm3 = pianoRoll.noteData[2].map(function(x) { return x.value; });
            drumMachine.loadBeat(beat1);
            drumMachine.play();
        }
    );
    $('#stop').click(function() { clearInterval(timeoutId); });
    



</script>
</html>
